.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  position: relative;
}

.gradient-container {
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(12px);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 24px 0px rgba(255, 255, 255, 0.25);
}

.rounded {
  border-radius: 8px;
}

.title {
  font-size : 24px;
  line-height: 	30px;
  letter-spacing: 1px;
  font-weight: bold;
}

.body {
  font-size : 16px;
  line-height: 	20px;
  letter-spacing: 0.1px;
}

.bold {
  font-weight: bold;
}

.button {
  padding: 4px 16px;
  height: 40px;
  width: fit-content;
  
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  
  backdrop-filter: blur(12px);
  box-shadow: 0px 4px 24px 0px rgba(255, 255, 255, 0.25);
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  font-weight: bold;
}

.button:hover {
  transform: scale(1.03);
}

.icon {
  color: white;
  background-color: white;
  height: 24px;
  width: 24px;

  display: block;
}

.navbar {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */

  height: 30px;
  border: none !important;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-info {
  display: flex;
  gap: 36px;
  margin-top: 3px;
}

.logout-button-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.logout-button-link > .icon {
  color: white;
  opacity: 0.8;
  background-color: white;
}

.logout-button-link:hover {
  font-weight: bold;
}

.logout-button-link:hover > .icon {
  color: white;
  opacity: 1;
  background-color: white;
}

.modale-proposal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: blue;

}

.modale-container {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.list-entry {
  border: 1px white solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.list-entry:hover {
  background-color: rgba(255,255,255,0.15);
}

input[type=text] {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  background-color: transparent;
}

input::placeholder {
  opacity: 0.7;
  color: white;
}

input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}